.gradle
build/

DungFactory.iml

DungFactory.ipr

DungFactory.iws

eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/Minecraft/.location

eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/0.tree

eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs

eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs

eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.gathering.prefs

eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs

eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs

eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs

eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs

eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Client.launch

eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Server.launch

eclipse/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml

eclipse/config/forge.cfg

eclipse/config/forgeChunkLoading.cfg

eclipse/options.txt

eclipse/resourcepacks/Faithful.zip

eclipse/saves/New World/data/Village.dat

eclipse/saves/New World/data/villages.dat

eclipse/saves/New World/DIM-1/data/villages.dat

eclipse/saves/New World/DIM-1/forcedchunks.dat

eclipse/saves/New World/DIM1/data/villages.dat

eclipse/saves/New World/DIM1/forcedchunks.dat

eclipse/saves/New World/forcedchunks.dat

eclipse/saves/New World/level.dat

eclipse/saves/New World/level.dat_mcr

eclipse/saves/New World/level.dat_old

eclipse/saves/New World/playerdata/01f117e5-9719-43e7-8730-fad265fb7e60.dat

eclipse/saves/New World/playerdata/040a63f0-e153-3f49-84a8-b60ca564e69f.dat

eclipse/saves/New World/playerdata/ee3/01f117e5-9719-43e7-8730-fad265fb7e60.ee3

eclipse/saves/New World/playerdata/ee3/legend.txt

eclipse/saves/New World/playerdata/ee3/template.ee3

eclipse/saves/New World/region/r.-1.-1.mca

eclipse/saves/New World/region/r.-1.0.mca

eclipse/saves/New World/region/r.0.-1.mca

eclipse/saves/New World/region/r.0.0.mca

eclipse/saves/New World/region/r.1.-1.mca

eclipse/saves/New World/region/r.1.0.mca

eclipse/saves/New World/session.lock

eclipse/saves/New World/stats/01f117e5-9719-43e7-8730-fad265fb7e60.json

eclipse/saves/New World/stats/040a63f0-e153-3f49-84a8-b60ca564e69f.json
